<!DOCTYPE html>
<html>
<head>
  <title>Photo Service </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <div class="x">
    <a id="branding" href="/"><h1>Photo Service</h1></a>
      </div>
</div>

<div class="content">
  <h1>Search for Images<%= yield :title %></h1>

  <%= yield %>
</div>

<div class='footer'>

  <div class="author">
    Created by PJ (<a href="https://www.github.com/p3ller" target="_blank">peeler</a>) |  2015.
  </div>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'lightbox' %>

</body>
</html>
